.circle {
    border-radius: 50%;
    display: inline-block;
    margin: 40px;
    cursor: pointer;
  }
  
  /* Hover effect to scale */
  .circle:hover {
    transform: scale(1.2); /* Enlarge circle on hover */
  }
  
  .main {
    background-color: black;
  }
  